.skills-container {
    margin: 4rem 0;
    position: relative;
}

.skills-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.skills-content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

.skills {
    flex: 1;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);
}

.skills-info {
    flex: 1;
}