.project-container {
    margin: 4rem 0;
    position: relative;
}

.project-container h5 {
    font-size: 1.5rem;
    font-size: 600;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .project-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}